{{ template "header.html" .}}


<main class="flex-shrink-0">
  <div class="container pt-3">

    <h3> What car do you want to sell? </h3>

<form action="/api/manager/{{.managerID}}/vehicle/create" method="POST">

{{ .csrfField }}
  <div class="form-group">
    <label for="description">Description</label>
    <input type="text" name="description" class="form-control" id="description" placeholder="Car description">
  </div>

  <div class="form-group mt-2">
      <label for="brand">Enterprise ID</label>
      <div class="input-group">
      <select class="custom-select form-control" id="enterprise_id" name="enterprise_id">
      <option hidden>Choose Enterprise ID</option>
      {{ range .accessibleEnterprises }}
      <option value="{{.}}">{{.}}</option>
      {{end}}
    </select>
  </div>
  </div>

  <div class="form-group mt-2">
    <label for="price">Car Price</label>
    <input type="number" name="price" class="form-control" id="price" placeholder="How much do you want for this car?">
  </div>
  <div class="form-group mt-2">
    <label for="mileage">Mileage</label>
    <input type="number" name="mileage" class="form-control" id="milage" placeholder="Mileage">
  </div>
  <div class="form-group mt-2">
    <label for="manufactured">Manufactured year</label>
    <input type="number" name="manufactured" class="form-control" id="manufactured" placeholder="Manufactured year">
  </div>

  {{/* <div class="form-group mt-2">
    <label for="brand">Brand</label>
    <input type="text" name="brand" class="form-control" id="brand" placeholder="Car Brand">
  </div> */}}

  <div class="form-group mt-2">
      <label for="brand">Brand</label>
      <div class="input-group">
      <select class="custom-select form-control" id="brand" name="brand">
      <option hidden>Choose car Brand</option>
      <option value="BMW">BMW</option>
      <option value="LADA">LADA</option>
      <option value="MERCEDES">MERCEDES</option>
    </select>
  </div>
  </div>


    <div class="form-group mt-2">
    <label for="carmodel">Car Model</label>
    <input type="text" name="carmodel" class="form-control" id="carmodel" placeholder="Car Type">
  </div>

    <div class="form-group mt-2">
    <label for="fueltankcapacity">Fuel Tank Capacity</label>
    <input type="number" name="fueltankcapacity" class="form-control" id="fueltankcapacity" placeholder="How much gasoline will fit?">
  </div>

    <div class="form-group mt-2">
    <label for="seats">Seats</label>
    <input type="number" name="seats" class="form-control" id="seats" placeholder="How many seats in it?">
  </div>

    <div class="form-group mt-2">
    <label for="enginevolume">Engine Volume</label>
    <input type="number" step="0.1" min="0" id="totalAmt" name="enginevolume" class="form-control" id="enginevolume" placeholder="Engine Volume">
  </div>
  <button type="submit" class="btn btn-primary mt-3">Save car in system</button>
</form>

</div>
</main>

{{ template "footer.html" .}}